In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pit

In [21]:
case=pd.read_csv('Case.csv')
patientinfo=pd.read_csv('PatientInfo.csv')
policy=pd.read_csv('Policy.csv')
region=pd.read_csv('Region.csv')
searchtrend=pd.read_csv('SearchTrend.csv')
seoulfloating=pd.read_csv('SeoulFloating.csv')
time=pd.read_csv('Time.csv')
timeage=pd.read_csv('TimeAge.csv')
timegender=pd.read_csv('TimeGender.csv')
timeprovince=pd.read_csv('TimeProvince.csv')
weather=pd.read_csv('Weather.csv')

In [19]:
case

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Yongsan-gu,True,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,True,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,True,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,True,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,True,Day Care Center,43,37.679422,127.044374
...,...,...,...,...,...,...,...,...
169,6100012,Gyeongsangnam-do,-,False,etc,20,-,-
170,7000001,Jeju-do,-,False,overseas inflow,14,-,-
171,7000002,Jeju-do,-,False,contact with patient,0,-,-
172,7000003,Jeju-do,-,False,etc,4,-,-
173,7000004,Jeju-do,from other city,True,Itaewon Clubs,1,-,-

In [9]:
patientinfo

,patient_id,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2002000001,17,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000002,2,NaN,2020-01-31,2020-02-24,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5160,7000000015,female,30s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,25,NaN,2020-05-30,2020-06-13,NaN,released
5161,7000000016,NaN,NaN,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-16,2020-06-24,NaN,released
5162,7000000017,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,72,NaN,2020-06-18,NaN,NaN,isolated
5163,7000000018,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-18,NaN,NaN,isolated
5164,7000000019,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-18,NaN,NaN,isolated

In [10]:
policy

,policy_id,country,type,gov_policy,detail,start_date,end_date
0,1,Korea,Alert,Infectious Disease Alert Level,Level 1 (Blue),2020-01-03,2020-01-19
1,2,Korea,Alert,Infectious Disease Alert Level,Level 2 (Yellow),2020-01-20,2020-01-27
2,3,Korea,Alert,Infectious Disease Alert Level,Level 3 (Orange),2020-01-28,2020-02-22
3,4,Korea,Alert,Infectious Disease Alert Level,Level 4 (Red),2020-02-23,NaN
4,5,Korea,Immigration,Special Immigration Procedure,from China,2020-02-04,NaN
...,...,...,...,...,...,...,...
56,57,Korea,Transformation,Logistics center,On-site inspection of major logistics faciliti...,2020-05-29,2020-06-11
57,58,Korea,Transformation,Wearing of masks,"Mandatory wearing of passenger mask domestic, ...",2020-05-27,NaN
58,59,Korea,Transformation,Wearing of masks,Drivers such as buses and taxis can refuse to ...,2020-05-26,NaN
59,60,Korea,Technology,KI-Pass: Korea Internet - Pass,new quick response (QR) code system this week ...,2020-06-10,NaN
60,61,Korea,Health,Extends Tightened Quarantine Measures,Gov't Extends Tightened Quarantine Measures in...,2020-05-28,2020-06-14

In [11]:
region

,code,province,city,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,10000,Seoul,Seoul,37.566953,126.977977,607,830,48,1.44,15.38,5.8,22739
1,10010,Seoul,Gangnam-gu,37.518421,127.047222,33,38,0,4.18,13.17,4.3,3088
2,10020,Seoul,Gangdong-gu,37.530492,127.123837,27,32,0,1.54,14.55,5.4,1023
3,10030,Seoul,Gangbuk-gu,37.639938,127.025508,14,21,0,0.67,19.49,8.5,628
4,10040,Seoul,Gangseo-gu,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080
...,...,...,...,...,...,...,...,...,...,...,...,...
239,61160,Gyeongsangnam-do,Haman-gun,35.272481,128.406540,16,20,0,1.19,23.74,14.7,94
240,61170,Gyeongsangnam-do,Hamyang-gun,35.520541,127.725177,13,12,0,1.01,32.65,20.9,83
241,61180,Gyeongsangnam-do,Hapcheon-gun,35.566702,128.165870,17,15,0,0.71,38.44,24.7,96
242,70000,Jeju-do,Jeju-do,33.488936,126.500423,113,123,4,1.53,15.10,6.4,1245
243,80000,Korea,Korea,37.566953,126.977977,6087,8837,340,1.56,15.67,7.2,94865

In [12]:
searchtrend

            date     cold      flu  pneumonia  coronavirus
0     2016-01-01  0.11663  0.05590    0.15726      0.00736
1     2016-01-02  0.13372  0.17135    0.20826      0.00890
2     2016-01-03  0.14917  0.22317    0.19326      0.00845
3     2016-01-04  0.17463  0.18626    0.29008      0.01145
4     2016-01-05  0.17226  0.15072    0.24562      0.01381
...          ...      ...      ...        ...          ...
1637  2020-06-25  0.12072  0.04190    0.11936      2.16993
1638  2020-06-26  0.11381  0.03027    0.11317      2.15139
1639  2020-06-27  0.10554  0.02136    0.08354      1.96848
1640  2020-06-28  0.12563  0.02872    0.08072      2.19720
1641  2020-06-29  0.14263  0.04308    0.11254      2.41501

[1642 rows x 5 columns]

In [22]:
seoulfloating

               date  hour  birth_year     sex province           city  fp_num
0        2020-01-01     0          20  female    Seoul      Dobong-gu   19140
1        2020-01-01     0          20    male    Seoul      Dobong-gu   19950
2        2020-01-01     0          20  female    Seoul  Dongdaemun-gu   25450
3        2020-01-01     0          20    male    Seoul  Dongdaemun-gu   27050
4        2020-01-01     0          20  female    Seoul     Dongjag-gu   28880
...             ...   ...         ...     ...      ...            ...     ...
1084795  2020-05-31    21          40  female    Seoul      Dobong-gu   27620
1084796  2020-05-31    21          40  female    Seoul      Songpa-gu   56560
1084797  2020-05-31    21          50  female    Seoul    Gangdong-gu   38960
1084798  2020-05-31    22          60  female    Seoul        Guro-gu   25420
1084799  2020-05-31    23          40    male    Seoul   Eunpyeong-gu   38650

[1084800 rows x 7 columns]

In [14]:
time

           date  time     test  negative  confirmed  released  deceased
0    2020-01-20    16        1         0          1         0         0
1    2020-01-21    16        1         0          1         0         0
2    2020-01-22    16        4         3          1         0         0
3    2020-01-23    16       22        21          1         0         0
4    2020-01-24    16       27        25          2         0         0
..          ...   ...      ...       ...        ...       ...       ...
158  2020-06-26     0  1232315   1200885      12602     11172       282
159  2020-06-27     0  1243780   1211261      12653     11317       282
160  2020-06-28     0  1251695   1219975      12715     11364       282
161  2020-06-29     0  1259954   1228698      12757     11429       282
162  2020-06-30     0  1273766   1240157      12800     11537       282

[163 rows x 7 columns]

In [15]:
timeage

            date  time  age  confirmed  deceased
0     2020-03-02     0   0s         32         0
1     2020-03-02     0  10s        169         0
2     2020-03-02     0  20s       1235         0
3     2020-03-02     0  30s        506         1
4     2020-03-02     0  40s        633         1
...          ...   ...  ...        ...       ...
1084  2020-06-30     0  40s       1681         3
1085  2020-06-30     0  50s       2286        15
1086  2020-06-30     0  60s       1668        41
1087  2020-06-30     0  70s        850        82
1088  2020-06-30     0  80s        556       139

[1089 rows x 5 columns]

In [16]:
timegender

           date  time     sex  confirmed  deceased
0    2020-03-02     0    male       1591        13
1    2020-03-02     0  female       2621         9
2    2020-03-03     0    male       1810        16
3    2020-03-03     0  female       3002        12
4    2020-03-04     0    male       1996        20
..          ...   ...     ...        ...       ...
237  2020-06-28     0  female       7265       131
238  2020-06-29     0    male       5470       151
239  2020-06-29     0  female       7287       131
240  2020-06-30     0    male       5495       151
241  2020-06-30     0  female       7305       131

[242 rows x 5 columns]

In [17]:
timeprovince

            date  time          province  confirmed  released  deceased
0     2020-01-20    16             Seoul          0         0         0
1     2020-01-20    16             Busan          0         0         0
2     2020-01-20    16             Daegu          0         0         0
3     2020-01-20    16           Incheon          1         0         0
4     2020-01-20    16           Gwangju          0         0         0
...          ...   ...               ...        ...       ...       ...
2766  2020-06-30     0      Jeollabuk-do         27        21         0
2767  2020-06-30     0      Jeollanam-do         24        19         0
2768  2020-06-30     0  Gyeongsangbuk-do       1389      1328        54
2769  2020-06-30     0  Gyeongsangnam-do        134       128         0
2770  2020-06-30     0           Jeju-do         19        16         0

[2771 rows x 6 columns]

In [18]:
weather

,code,province,date,avg_temp,min_temp,max_temp,precipitation,max_wind_speed,most_wind_direction,avg_relative_humidity
0,10000,Seoul,2016-01-01,1.2,-3.3,4.0,0.0,3.5,90.0,73.0
1,11000,Busan,2016-01-01,5.3,1.1,10.9,0.0,7.4,340.0,52.1
2,12000,Daegu,2016-01-01,1.7,-4.0,8.0,0.0,3.7,270.0,70.5
3,13000,Gwangju,2016-01-01,3.2,-1.5,8.1,0.0,2.7,230.0,73.1
4,14000,Incheon,2016-01-01,3.1,-0.4,5.7,0.0,5.3,180.0,83.9
...,...,...,...,...,...,...,...,...,...,...
26266,50000,Jeollabuk-do,2020-06-29,22.0,19.7,26.5,27.6,4.4,90.0,85.1
26267,51000,Jeollanam-do,2020-06-29,21.9,20.0,24.0,80.5,16.8,90.0,97.9
26268,60000,Gyeongsangbuk-do,2020-06-29,20.4,17.4,24.5,43.9,4.5,160.0,90.9
26269,61000,Gyeongsangnam-do,2020-06-29,21.9,18.8,25.5,98.9,5.8,160.0,85.0
26270,70000,Jeju-do,2020-06-29,23.2,19.1,27.6,25.1,12.8,270.0,87.4